.pagination {
  display: flex;
  justify-content: center;
  user-select: none;

  &__item {
    display: inline-flex;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    align-items: center;
    justify-content: center;
    line-height: 40px;
    font-weight: 600;
    font-family: var(--font-accent);
    text-align: center;
    color: var(--color-main-light);
    background-color: var(--color-gray-light);
    border-radius: 6px;

    &:last-child {
      margin-right: 0;
    }

    &--separator {
      background: none;
    }

    &--disabled {
      pointer-events: none;
      cursor: default;
    }
  }
}
