:root {
  --color-main: #3A416F;
  --color-main-light: #848AB8;

  --color-gray: #C5C9E0;
  --color-gray-light: #F5F5FA;

  --color-info: #8E43E7;
  --color-info-light: #5FC9F8;

  --color-danger: #FF4F81;

  --color-success: #53D769;

  --font-prime: Lato, sans-serif;
  --font-accent: Montserrat, sans-serif;

  --font-size-h1: 36px;
  --font-size-h2: 24px;
  --font-size-h3: 18px;
  --font-size-h4: 14px;
  --font-size-default: 16px;
  --font-size-small: 12px;

}
